A47654 Pedro Afonso <A47654@alunos.isel.pt> <pedvaz2012@gmail.com>
A47654 Pedro Afonso <A47654@alunos.isel.pt> <101562738+Pedvaz2012@users.noreply.github.com>
A47654 Pedro Afonso <A47654@alunos.isel.pt> 47654 Pedro Afonso
A50096 Iliano Santos <A50096@alunos.isel.pt> <ilianosantos8@gmail.com>
A50457 João Lopes <A50457@alunos.isel.pt> <joaopclopes.17@gmail.com>