[Unit]
Description=TVS Control Application
Requires=tvsctld.socket
After=sockets.target

[Service]
ExecStart=/opt/isel/tvs/tvsctld/bin/tvsctld
WorkingDirectory=/opt/isel/tvs/tvsctld/bin/scripts
RuntimeDirectory=tvsctld
RuntimeDirectoryMode=0755
Restart=on-failure
User=root
Group=tvsgrp
Sockets=tvsctld.socket

[Install]
WantedBy=multi-user.target
Also=tvsctld.socket